<% url = action == :new ? bands_url : band_url(band) %>
<% http = action == :new ? :post : :patch %>

<div class="col-lg-6 col-lg-offset-3">
  <h3><%= action.capitalize %> Band </h3>

  <form action="<%= url %>" method="post">
    <input type="hidden" name="_method" value="<%= http %>">
    <%= auth_token %>

    <div class="form-group row">
      <label for="name">name: </label>
      <input id='name' class='form-control' type="text" name="band[name]" value="<%= band.name %>">
    </div>

    <div class="form-group row">
      <input class='btn btn-success' type="submit" value="<%= action.capitalize %> Band">
    </div>
  </form>
</div>
