<h1> <%= @cat.name %> </h1>

<table style='border: 1px solid black'>
  <tr>
    <th>Color</th>
    <th>Sex</th>
    <th>Birth Date</th>
    <th>Age</th>
    <th>description</th>
  </tr>
  <tr>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
